<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlonlineApplication">
	<listeners>
		<listener
			class-name="com.start.ExtentReportListener.CustomListeners" />
	</listeners>

	<test name="Smoke">
		<classes>
			<class name="com.start.testcases.StartLoginPageTest" />
			<!-- <class name="com.impl.testcases.AuthorizedRepresentativePageTest" />
			<class name="com.impl.testcases.ProfessionalLearningOnlineAdministratorPageTest" /> -->
		</classes>
	</test>
</suite>